asgiref==3.7.2
attrs==23.1.0
build==1.0.3
CacheControl==0.13.1
cachy==0.3.0
certifi==2023.7.22
cffi==1.16.0
charset-normalizer==3.3.0
cleo==2.0.1
crashtest==0.4.1
cryptography==41.0.4
distlib==0.3.7
Django==4.2.6
django-extensions==3.2.3
django-jazzmin==2.6.0
dulwich==0.21.6
filelock==3.12.4
html5lib==1.1
idna==3.4
importlib-metadata==6.8.0
installer==0.7.0
jaraco.classes==3.3.0
jeepney==0.8.0
json-schema==0.3
jsonschema==4.19.1
jsonschema-specifications==2023.7.1
keyring==24.2.0
lockfile==0.12.2
more-itertools==10.1.0
msgpack==1.0.7
packaging==23.2
pexpect==4.8.0
pkginfo==1.9.6
platformdirs==3.11.0
poetry==1.6.1
poetry-core==1.7.0
poetry-plugin-export==1.5.0
ptyprocess==0.7.0
pycparser==2.21
pylev==1.4.0
pyparsing==3.1.1
pyproject_hooks==1.0.0
pyrsistent==0.19.3
pywin32-ctypes==0.2.2
rapidfuzz==3.3.1
referencing==0.30.2
requests==2.31.0
requests-toolbelt==1.0.0
rpds-py==0.10.4
SecretStorage==3.3.3
shellingham==1.5.3
six==1.16.0
sqlparse==0.4.4
tomlkit==0.12.1
trove-classifiers==2023.9.19
tzdata==2023.3
urllib3==2.0.6
virtualenv==20.24.5
webencodings==0.5.1
zipp==3.17.0
