{% load static %}

<!DOCTYPE html>

<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Principal</title>
    
    
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body class="black-bg">
    
    <!-- Conteúdo da página -->
    <main class="pres-main">
        <content class="pres-content-div">
            <img class="pres-img" src="{% static 'img/seletos_logo_branca.png' %}" alt="Seletos Lancamentos Logo">
            <div class="main-content-div">
                <h3 class="pres-title">
                    <strong>Seja bem-vindo</strong> ao nosso<br>
                    sistema de ponto!
                </h3>
                <a href="{% url 'webpage:homepage-view' %}" class="pres-link">
                    <span class="pres-text">Veja mais</span>
                </a>
            </div>
        </content>
    </main>
    
    <!-- Others -->
    <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
</body>
</html>

<!-- 
    Primeiro nome
    Sobrenome
    Data de admissão
    Idade
    Sexo
    Data de aniversário
    Endereço
    CPF
-->