{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Principal</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>

    <!-- Barra Lateral -->
    <aside class="sidebar">
        <header>
            <img src="{% static 'img/defaultlogo_small.png' %}" class="sidebar-img" alt="Seletos Lancamentos">
        </header>
        <ul class="siderbar-link-main">
            <li><a href="/admin/" class="sidebar-link" target="_blank" rel="noreferrer noopener">{% comment %}  {% endcomment %}
                <span class="sidebar-icon"><ion-icon name="person-circle-outline"></ion-icon></span>
                <span class="sidebar-text">Página de Admin</span>
            </a></li>
            <li><a href="{% url 'webpage:webpage-view' %}" class="sidebar-link">
                <span class="sidebar-icon"><ion-icon name="home-outline"></ion-icon></span>
                <span class="sidebar-text">Página Principal</span>
            </a></li>
            <li><a href="{% url 'webpage:homepage-view' %}" class="sidebar-link">
                <span class="sidebar-icon"><ion-icon name="help-buoy-outline"></ion-icon></ion-icon></span>
                <span class="sidebar-text">Entenda melhor</span>
            </a></li>
            <li><a href="{% url 'webpage:employeespage-view' %}" class="sidebar-link">
                <span class="sidebar-icon"><ion-icon name="people-outline"></ion-icon></span>
                <span class="sidebar-text">Colaboradores</span>
            </a></li>
            <li><a href="{% url 'webpage:aboutpage-view' %}" class="sidebar-link">
                <span class="sidebar-icon"><ion-icon name="information-circle-outline"></ion-icon></ion-icon></span>
                <span class="sidebar-text">Sobre</span>
            </a></li>
        </ul>
    </aside>

    <!-- Conteúdo da página -->
    <main>
        <content>
            <h1 class="main-title">Página Principal</h1>
            <p class="main-description">
                Esse sistema foi feito no intuito de ajudar pequenas e médias empresas<br>
                a <strong>melhor gerenciarem os horários de seus funcionarios de maneira simples e fácil.</strong><br>
                <br>
                Para registrar os horários de entrada e saída de um colaborador é bem simples!<br>
                Basta escrever o horário no campo especificado e selecionar o botão de acordo com o desejado. 
            </p>
        </content>
        <content>
            <h1 class="main-subtitle">Colaboradores</h1>
            <p class="main-description">
                Na aba de colaboradores é possível ver uma <strong>lista completa com todos as pessoas que foram adicionados ao sistema.</strong><br>
                <br>
                Todos os colaboradores são organizados por ordem alfabética de modo a facilitar a busca, encontrando a pessoa desejada<br>
                <strong>basta apenas selecionar a caixa de texto correspondente e será exibido uma tela com todas as informações cadastradas sobre a mesma</strong>,<br>
                além disso, logo abaixo também é possível encontrar o histórico de horários de entrada e saída do mesmo.<br>
                <br>
                Caso conste alguma <strong>informação errada no sistema</strong> basta procurar pelo botão de "Editar informações" abaixo do histórico de horário<br>
                e mudar as informações na página de administrador
            </p>
        </content>
        <content>
            <h1 class="main-subtitle">Sobre</h1>
            <p class="main-description">
                Caso deseje saber mais informações técnicas sobre o sistema ou <strong>se comunicar com os responsáveis sobre o sistema</strong> basta consultar esta aba! 
            </p>
        </content>
    </main>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <!-- Others -->
    <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
</body>
</html>