@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* CSS BASE */

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

aside, .siderbar-link-main, .sidebar-img, .sidebar-link{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}



/* Página de apresentação */

.pres-content-div{
    display: block;
    margin-top: 7%;
}
.pres-content-div > img{
    width: 16%;
    height: auto;
}
.pres-main{
    text-align: center;
    align-items: center;
}
.pres-title{
    margin: 14px 0;
    font-size: 32px;
    font-weight: 300;
    color: #f1f1f1;
}
.pres-title > strong{
    color: #2baaff;
}
.pres-link{
    font-size: 18px;
    font-weight: 300;
    text-decoration-color: #2baaff;
}
.pres-text{
    color: #f1f1f1;
}
.pres-icon{
    color: #f1f1f1;
}
.ep-box{
    padding: 20px;
    margin: 15px 35%;
    
    border-radius: 10px;
    background-color: #dfdede;
}
.ep-box > select{
    padding: 2px 6px;

    border-radius: 5px;
    border: 1px solid #f1f1f1;
    box-shadow: 2px 2px 10px #1e1e1e35;
}
.pres-input-span{
    display: flex;
    margin: 20px 0 5px 0;
    justify-content: center;
}
.pres-input{
    width: 250px;
    height: 40px;
    
    font-size: 20px;
    text-align: center;
    
    border-radius: 10px;
    border: 0px solid #000000;
    box-shadow: 2px 2px 10px #1e1e1e35;

    transition: all 0.3s ease 0s;
}
.pres-input:hover{
    width: 300px;
}
.buttons-main-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.buttons-main-div > p{
    margin: 0 0;
    padding: 5px 0;
    font-weight: 400;
    font-size: small;
    color: #000000a1;
}
.button-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.button-row > input{
    cursor: pointer;

    margin: 0 5px;
    padding: 8px 32px;

    font-size: 18px;
    font-weight: 300;

    color: black;
    border-radius: 5px;
    background-color: #ffffff;
    border: 0px solid #ffffff;
    box-shadow: 2px 2px 10px #1e1e1e35;

    transition: all 0.3s ease 0s;
}
.button-row > input:hover{
    padding: 8px 36px;
}
#employees{
    padding: 2px 8px;
    border: 0 solid black;
    box-shadow: 0 0 8px #1e1e1e35;
}
#employees > option{
    text-align: center;
}
#extra-button{
    margin: 10px 0;
} 
.black-bg{
    background: #1e1e1e;
}



/* Barra lateral */

.sidebar{
    left: 0;
    width: 210px;
    height: 100%;
    position: fixed;
    background: #424242;
}
.sidebar > header{
    user-select: none;
    text-align: center;
    background-color: #1e1e1e;
}
.sidebar-link{
    display: flex;
    margin: 0 34px;
    padding-top: 15px;
    justify-content: left;
    transition: all 0.3s ease 0s;
}
.sidebar-link:hover{
    padding-left: 6px;
}
.sidebar-text, .sidebar-icon{
    margin: 0 2px;
    font-size: 14px;
    color: #f1f1f1;
}
.sidebar-img{
    padding: 15px 0;
}



/* Página principal */

.main-title{
    padding: 48px 0 20px 0;
    margin: 0 125px 0 280px;

    font-size: 46px;
    font-weight: 300;
    color: #1e1e1e;
}
.main-subtitle{
    padding: 0 0 40px 0;
    margin: 0 125px 0 280px;

    font-size: 46px;
    font-weight: 300;
    color: #1e1e1e;
}
.main-description{
    padding: 0 0 40px 0;
    margin: 0 125px 0 280px;

    font-weight: 400;
    color: #1e1e1e;
}
.main-content-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.check-box{
    padding: 20px;
    margin: 0 125px 0 280px;
    
    border-radius: 10px;
    background-color: #f1f1f1;
    box-shadow: 5px 5px 10px #1e1e1e35;
}
.check-row{
    margin: 0 30px;

    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: left;
}
.main-check{
    padding: 0 40px 0 0;
    font-size: 22px;
    font-weight: 400;
}
#main-title-historic{
    padding-bottom: 0;
}
.carreer-time{
    padding: 0 0 30px 0;
    margin: 0 125px 0 280px;

    font-size: 20px;
}



/* Funcionários */

.employee-content{
    padding: 15px 0;
    transition: all 0.3s ease 0s;
}
.employee-content:hover{
    padding-left: 15px;
}
.employee-box{
    padding: 25px 0 25px 0;
    margin: 0 125px 0 280px;
    
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    flex-direction: row;
    background-color: #f1f1f1;
    box-shadow: 5px 5px 10px #1e1e1e35;

    color: black;
    font-size: larger;
    text-anchor: middle;
    text-decoration: none;
}
.employee-box > p{
    margin: 0 30px;
    padding-left: 0;
}



/* Paginação */

.pagination{
    margin-top: 20px;
    margin-left: 50%;
}
.step-links{
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
.step-links > .current-page{
    margin: 0 5px;
}
.step-link-icon {
    color: #000000;
}



/* Descrição */

.desc-row{
    margin: 0 30px;

    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: left;
}
.desc-row > p {
    margin: 0 45px 0 0;
    padding: 10px 0;
}
.desc-box{
    padding: 30px;
    margin: 0 125px 0 280px;
    
    border-radius: 10px;
    background-color: #f1f1f1;
    box-shadow: 5px 5px 10px #1e1e1e35;
}



/* Botões rodapé */

.footer-buttons{
    padding: 25px 0 25px 0;
    margin: 0 125px 0 280px;

    font-size: 12px;
    font-weight: 400;
    text-align: center;
}
.footer-links{
    color: #979797;
}