@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

aside, .siderbar-link-main, .sidebar-img, .sidebar-link{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.sidebar{
    position: fixed;
    left: 0;
    width: 210px;
    height: 100%;
    background: #424242;
}
.sidebar > header{
    text-align: center;
    background-color: #1e1e1e;
    user-select: none;
}
.sidebar-link{
    display: flex;
    justify-content: left;
    padding-top: 15px;
    margin: 0 34px;
    transition: all 0.3s ease 0s;
}
.sidebar-link:hover{
    padding-left: 6px;
}
.sidebar-text, .sidebar-icon{
    font-size: 14px;
    color: #f1f1f1;
    margin: 0 2px;
}
.sidebar-img{
    padding: 15px 0;
}


.hydrated{
}