@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* CSS BASE */

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

aside, .siderbar-link-main, .sidebar-img, .sidebar-link{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

/* Página de apresentação */

.pres-content-div{
    display: block;
    margin-top: 17%;
}
.pres-content-div > img{
    width: 16%;
    height: auto;
}
.pres-main{
    text-align: center;
    align-items: center;
}
.pres-title{
    margin: 14px 0;
    font-size: 36px;
    font-weight: 300;
    color: #f1f1f1;
}
.pres-link{
    font-size: 18px;
    font-weight: 300;
    text-decoration-color: #00ff99;
}
.pres-text{
    color: #f1f1f1;
}
.pres-icon{
    color: #f1f1f1;
}
.black-bg{
    background: #1e1e1e;
}


/* Barra lateral */

.sidebar{
    left: 0;
    width: 210px;
    height: 100%;
    position: fixed;
    background: #424242;
}
.sidebar > header{
    user-select: none;
    text-align: center;
    background-color: #1e1e1e;
}
.sidebar-link{
    display: flex;
    margin: 0 34px;
    padding-top: 15px;
    justify-content: left;
    transition: all 0.3s ease 0s;
}
.sidebar-link:hover{
    padding-left: 6px;
}
.sidebar-text, .sidebar-icon{
    margin: 0 2px;
    font-size: 14px;
    color: #f1f1f1;
}
.sidebar-img{
    padding: 15px 0;
}


/* Página principal */

.main-title{
    padding: 48px 0 40px 0;
    margin: 0 125px 0 280px;

    font-size: 46px;
    font-weight: 300;
    color: #1e1e1e;
}
.main-subtitle{
    padding: 0 0 40px 0;
    margin: 0 125px 0 280px;

    font-size: 46px;
    font-weight: 300;
    color: #1e1e1e;
}
.main-description{
    padding: 0 0 40px 0;
    margin: 0 125px 0 280px;

    font-weight: 400;
    color: #1e1e1e;
}
.main-content-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/* Funcionários */

.employee-content{
    padding: 15px 0;
}
.employee-box{
    padding: 25px 0 25px 0;
    margin: 0 125px 0 280px;
    
    display: flex;
    border-radius: 10px;
    flex-direction: row;
    background-color: #f1f1f1;
    box-shadow: 5px 5px 10px #1e1e1e35;

    color: black;
    font-size: larger;
    text-decoration: none;
}
.employee-box > p{
    margin: 0 30px;
    padding-left: 15px;
}